@font-face {
        font-family:'baskinfont';  
        src:url('../font/배스킨라빈스-B.woff') format('woff'); }

@font-face {
        font-family:'baskinfont2';  
        src:url('../font/배스킨라빈스-R.woff') format('woff'); }