@charset "UTF-8";

  /* footer */


.ft { clear:both; width: 100%; height: 170px; background-color: rgb(0, 0, 0); padding-bottom: 20px; }
.ft_wrap { clear:both; width: 1200px; margin: 0 auto;  }
.ft_wrap:after { content:""; display:block; clear:both; }
.ft_logo { float:left; width: 150px; padding-top: 85px;}
.left { float:left; width: 460px; padding-left: 50px; }
.right1 { float:left; width: 700px; padding-left: 160px;  padding-top: 22px;}
.right2 { float:left; width: 700px; padding-left: 160px;  padding-top: 22px;}
.fnb { clear:both; }
.fnb a { color:rgb(255, 255, 255); font-size:14px; padding: 24px; }
.fnb a.dpc { color:rgb(255, 255, 255); }
.addr { padding-left: 24px; color:rgb(255, 255, 255); padding-top: 20px; 
font-size:12px; line-height: 2; }
.copyright { padding-left: 24px; color:rgb(255, 255, 255); padding-top: 13px; font-size: 13px;}
.sel_box { float:right; border-bottom:1px solid rgb(255, 255, 255);
height: 40px; line-height: 44px; text-align:center; width: 140px; }
#sel { border:none; outline: none; background-color: transparent; color:rgb(255, 255, 255); }
#sel option { color:rgb(0, 0, 0); }

.to_top { position:fixed; bottom:80px; right:80px; z-index:999; 
background-color:rgba(0, 0, 0, 0.268); color:#fff; display:block; width: 60px;
height: 60px; line-height: 60px; text-align: center; font-size:20px; visibility:hidden; transition-duration:0.8s; }
.to_top:hover { background-color: rgba(255, 255, 255, 0.801); }
.to_top.on { visibility: visible; }

a:link { color: rgb(0, 0, 0); text-decoration:none !important}	
a:visited { color: #000; text-decoration:none !important}	
a:active { color: rgb(0, 0, 0); text-decoration:none !important}