@charset "UTF-8";

.hd { width: 100%; position: absolute; top: 0; left: 0; z-index:999; background-color: transparent; height: 80px; }
.hd:hover { background-color: transparent; }
.hd_wrap { width:1200px; margin:0 auto; }
.logo { display:block; width: 155px; height:auto; margin-top:30px; margin-bottom:20px; float:left;}
.logo img { display: block; width: 100%; }
.tnb { float:right; margin:40px 0px; margin-top: 40px; }
.tnb a { font-size:14px; color:#fff; padding: 1em; font-weight:300; }
.tnb a:hover { font-weight:300; border:1px solid rgb(218, 41, 28); margin:-1px; background-color: transparent; color:rgb(218, 41, 28); }
.gnb { clear:both; width:100%; }
.gnb:after { content:""; display: block; clear:both; }
.gnb li { float:left; }
.gnb li .sub { display:none; }
.gnb > ul > li { float: left; width: 20%; height: 40px; line-height:40px; text-align: center; position: relative; }
.gnb li .dp1 { display:block; height:40px; line-height: 40px; background-color: transparent; color:#fff; text-align: center; font-weight:530;}
.gnb li:hover .dp1 { background-color: #000; color: #fff; }
.gnb .sub { display: none; width:100%; height:auto; position:absolute; top:40px; background-color:transparent; left: 0; z-index:90; height: 124px; }
.gnb li:hover .sub { display:block; }
.gnb li .sub li { clear:both; width: 100%; height: 40px; line-height: 40px; border-bottom:1px solid #fff; }
.gnb li .sub li a { background-color:transparent; color: #fff; font-size:14px; display:block; text-indent:0.2em; }
.gnb li .sub li:hover a { background-color:rgb(218, 41, 28); color: rgb(255, 255, 255); text-align: center;}